.menu {
    min-height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: var(--white);
}

.menu__logo {
    min-height: 4rem;
    min-width: 4rem;
}

.menu__button {
    margin: 1rem 0;
}
