PORT=8000
DEBUG=True

SECRET_KEY='FORTHELOVEOFGODTHISNOTSECURE'

ALLOWED_HOSTS=*

SECURE_SSL_REDIRECT=False

# To create the database locally: createdb harvestreaper
DATABASE_URL=postgres://localhost/harvestreaper

# Harvest
HARVEST_CLIENT_ID=''
HARVEST_CLIENT_SECRET=''

# Google
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''
