{% load static %}

<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>{% block head_title %}Harvest Reaper{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Harvest Reaper is a tool to upload your calendar events seamlessly to Harvest.">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Rubik|Rubik+Mono+One&display=swap" rel="stylesheet">
    {% block extra_head %}
    {% endblock %}
  </head>
  <body {% if noscroll %}class="body--no-scroll"{% endif %}>
    {% block body %}
        {% block menu %}
        <div class='menu'>
            <a href="{% url 'home' %}">
                <img class="menu__logo" src="{% static 'img/logo-mark.svg' %}" alt="Harvest Reaper Logo"/>
            </a>

            {% if user.is_authenticated %}
                <a class='menu__button button' href="{% url 'account_logout' %}">Sign Out</a>
            {% else %}
                <a class='menu__button button' href="{% url 'account_login' %}">Sign In/Sign Up</a>
            {% endif %}
        </div>
        {% endblock %}

        {% block content %}
        {% endblock %}
    {% endblock %}

    {% block extra_body %}
    {% endblock %}
  </body>
</html>
