{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Rubik|Rubik+Mono+One&display=swap" rel="stylesheet">
    {% block extra_head %}
    {% endblock %}
  </head>
  <body {% if noscroll %}class="body--no-scroll"{% endif %}>
    {% block body %}
        {% if messages %}
        <div>
        <strong>Messages:</strong>
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        </div>
        {% endif %}

        {% block menu %}
        <div>
        <strong>Menu:</strong>
        <ul>
            {% url 'home' as home_url %}
            {% if request.path != home_url %}
                <li><a href="{{ home_url }}">Home</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
            {% else %}
            <li><a href="{% url 'account_login' %}">Sign In/Sign Up</a></li>
            {% endif %}
        </ul>
        </div>
        {% endblock %}

        {% block content %}
        {% endblock %}
    {% endblock %}

    {% block extra_body %}
    {% endblock %}
  </body>
</html>
