{% extends 'base.html' %}

{% block extra_head %}
<script type="text/javascript">
    window.addEventListener('DOMContentLoaded', (event) => {
        const harvestProjects = {% autoescape off %}{{ harvest_projects_json }}{% endautoescape %};
        const allProjectInputs = document.querySelectorAll('[data-sel="project-input"]');

        Array.from(allProjectInputs).forEach(projectInput => {
            projectInput.addEventListener('change', () => {
                const index = projectInput.dataset.index;
                const projectInputValue = projectInput.options[projectInput.selectedIndex].value;
                const assignmentInput = document.querySelector(`[data-index="${index}"][data-sel="assignment-input"]`);

                // Remove existing options
                Array.from(assignmentInput.options).forEach((opt) => {
                    if (opt.value == 'ignore') return;
                    opt.remove();
                });

                // Remove or add disabled based on selected option
                if (projectInputValue == 'ignore') {
                    assignmentInput.setAttribute('disabled', true);
                    return;
                } else {
                    assignmentInput.removeAttribute('disabled');
                }

                // Assign correct tasks
                const assignmentList = harvestProjects.find((proj) => proj.project_id == projectInputValue).assignments;
                assignmentList.forEach((item) => {
                    const option = document.createElement("option");
                    option.text = item.name;
                    option.value = item.task_id;
                    assignmentInput.add(option);
                });
            });
        });
    });
</script>
{% endblock %}

{% block content %}
<main>
    <h1>Hello, Harvest Reaper!</h1>

    {% if not user.is_authenticated %}
        <div>Please sign in to see your calendar and harvest details</div>
    {% else %}
        <div>{{time_window.start}} - {{time_window.end}}</div>

        <div>Things to note: Declined events are not displayed. All day events default to 8hrs.</div>

        <form action="{% url 'harvest_time_submit' %}" id="harvestform" method="POST">
            {% csrf_token %}
            <input type="hidden" name="sunentries" value="{{sun_events|length}}">
            <input type="hidden" name="satentries" value="{{sat_events|length}}">
            <input type="hidden" name="monentries" value="{{mon_events|length}}">
            <input type="hidden" name="tueentries" value="{{tue_events|length}}">
            <input type="hidden" name="wedentries" value="{{wed_events|length}}">
            <input type="hidden" name="thuentries" value="{{thu_events|length}}">
            <input type="hidden" name="frientries" value="{{fri_events|length}}">
            <input type="hidden" name="harvestid" value="{{harvest_id}}">
            <table style="padding-top: 2rem;">
                <tr>
                    <th>Start</th>
                    <th>End</th>
                    <th>Summary</th>
                    <th>Project</th>
                    <th>Task</th>
                    <th>Duration (hr)</th>
                </tr>
                {% include 'partials/table_day_header.html' with day='Sunday' %}
                {% for event in sun_events %}
                    {% include 'partials/table_row.html' with event=event projects=harvest_projects index=forloop.counter day='sun' %}
                {% endfor %}

                {% include 'partials/table_day_header.html' with day='Saturday' %}
                {% for event in sat_events %}
                    {% include 'partials/table_row.html' with event=event projects=harvest_projects index=forloop.counter day='sat' %}
                {% endfor %}

                {% include 'partials/table_day_header.html' with day='Monday' %}
                {% for event in mon_events %}
                    {% include 'partials/table_row.html' with event=event projects=harvest_projects index=forloop.counter day='mon' %}
                {% endfor %}

                {% include 'partials/table_day_header.html' with day='Tuesday' %}
                {% for event in tue_events %}
                    {% include 'partials/table_row.html' with event=event projects=harvest_projects index=forloop.counter day='tue' %}
                {% endfor %}

                {% include 'partials/table_day_header.html' with day='Wednesday' %}
                {% for event in wed_events %}
                    {% include 'partials/table_row.html' with event=event projects=harvest_projects index=forloop.counter day='wed' %}
                {% endfor %}

                {% include 'partials/table_day_header.html' with day='Thursday' %}
                {% for event in thu_events %}
                    {% include 'partials/table_row.html' with event=event projects=harvest_projects index=forloop.counter day='thu' %}
                {% endfor %}

                {% include 'partials/table_day_header.html' with day='Friday' %}
                {% for event in fri_events %}
                    {% include 'partials/table_row.html' with event=event projects=harvest_projects index=forloop.counter day='fri' %}
                {% endfor %}
            </table>
            <input type="submit" value="Submit to Harvest"/>
        </form>
    {% endif %}
</main>
{% endblock content %}
