{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<script type="text/javascript">
    const harvestProjects = {% autoescape off %}{{ harvest_projects_json }}{% endautoescape %};
</script>
<script type="application/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block content %}
<main class="text-center">
    {% if google_error %}
        <h1>Gooogle Auth Failure</h1>
        <p class="home__error">
            Your Google authentication has failed. Please email us at <a href="mailto:engineering@isl.co">engineering@isl.co</a> and
            we will get you squared away!

            As a work around, you can signout using the link in the header and then sign back in. You will likely see this
            same issue going forward unless you reach out to us.
        </p>
    {% else %}
        <h1 class='home__name'>{{user.first_name}} {{user.last_name}}</h1>

        {% if not user.is_authenticated %}
            <div>Please sign in to see your calendar and harvest details</div>
        {% else %}
            <h3 class='home__date'>
                <a href="{{ prev_week_url }}" aria-label="Go back a week in time" class="home__date-link"><</a>
                {{time_window.start}} - {{time_window.end}}
                <a href="{{ next_week_url }}" aria-label="Go forward a week in time" class="home__date-link">></a>
            </h3>

            <form action="{% url 'harvest_time_submit' %}" id="harvestform" method="POST">
                {% csrf_token %}
                <input type="hidden" name="satentries" value="{{sat_events|length}}">
                <input type="hidden" name="sunentries" value="{{sun_events|length}}">
                <input type="hidden" name="monentries" value="{{mon_events|length}}">
                <input type="hidden" name="tueentries" value="{{tue_events|length}}">
                <input type="hidden" name="wedentries" value="{{wed_events|length}}">
                <input type="hidden" name="thuentries" value="{{thu_events|length}}">
                <input type="hidden" name="frientries" value="{{fri_events|length}}">
                <input type="hidden" name="harvestid" value="{{harvest_id}}">
                <table class='home__table'>
                    <tr>
                        <th>Meeting Details</th>
                        <th class="home__project-column">Project</th>
                        <th class="home__task-column">Task</th>
                        <th class="home__duration-column">Hours</th>
                        <th class="home__notes-column">Notes</th>
                    </tr>

                    {% include 'partials/table_day_header.html' with day='Saturday' events_count=sat_events|length %}
                    {% if sat_events|length == 0 %}
                        {% include 'partials/table_no_data_row.html' %}
                    {% else %}
                        {% for event in sat_events %}
                            {% include 'partials/table_row.html' with event=event projects=harvest_projects index=forloop.counter day='sat' %}
                        {% endfor %}
                    {% endif %}

                    {% include 'partials/table_day_header.html' with day='Sunday' events_count=sun_events|length %}
                    {% if sun_events|length == 0 %}
                        {% include 'partials/table_no_data_row.html' %}
                    {% else %}
                        {% for event in sun_events %}
                            {% include 'partials/table_row.html' with event=event projects=harvest_projects index=forloop.counter day='sun' %}
                        {% endfor %}
                    {% endif %}

                    {% include 'partials/table_day_header.html' with day='Monday' events_count=mon_events|length %}
                    {% if mon_events|length == 0 %}
                        {% include 'partials/table_no_data_row.html' %}
                    {% else %}
                        {% for event in mon_events %}
                            {% include 'partials/table_row.html' with event=event projects=harvest_projects index=forloop.counter day='mon' %}
                        {% endfor %}
                    {% endif %}

                    {% include 'partials/table_day_header.html' with day='Tuesday' events_count=tue_events|length %}
                    {% if tue_events|length == 0 %}
                        {% include 'partials/table_no_data_row.html' %}
                    {% else %}
                        {% for event in tue_events %}
                            {% include 'partials/table_row.html' with event=event projects=harvest_projects index=forloop.counter day='tue' %}
                        {% endfor %}
                    {% endif %}

                    {% include 'partials/table_day_header.html' with day='Wednesday' events_count=wed_events|length %}
                    {% if wed_events|length == 0 %}
                        {% include 'partials/table_no_data_row.html' %}
                    {% else %}
                        {% for event in wed_events %}
                            {% include 'partials/table_row.html' with event=event projects=harvest_projects index=forloop.counter day='wed' %}
                        {% endfor %}
                    {% endif %}

                    {% include 'partials/table_day_header.html' with day='Thursday' events_count=thu_events|length %}
                    {% if thu_events|length == 0 %}
                        {% include 'partials/table_no_data_row.html' %}
                    {% else %}
                        {% for event in thu_events %}
                            {% include 'partials/table_row.html' with event=event projects=harvest_projects index=forloop.counter day='thu' %}
                        {% endfor %}
                    {% endif %}

                    {% include 'partials/table_day_header.html' with day='Friday' events_count=fri_events|length %}
                    {% if fri_events|length == 0 %}
                        {% include 'partials/table_no_data_row.html' %}
                    {% else %}
                        {% for event in fri_events %}
                            {% include 'partials/table_row.html' with event=event projects=harvest_projects index=forloop.counter day='fri' %}
                        {% endfor %}
                    {% endif %}
                </table>
                <div class="home__footer" style='background-image: url({% static 'img/graveyard-footer-art.png' %});'>
                    <div class='home__submit-button--padding'>
                        <input class='home__submit-button button' type="submit" value="Send it to Harvest"/>
                    </div>
                </div>
            </form>
        {% endif %}
    {% endif %}
</main>
{% endblock content %}
