{% extends 'base.html' %}


{% block content %}
    <h1>Privacy Policy</h1>
    <p>
        This policy discloses what information we gather about you when you visit reaper.isl.co.
        It describes how we use that information and how you can control it.
    </p>

    <h2>Information we gather and track</h2>
    <p>
        Harvest Reaper collects only the minimal amount of information necessary from Google to support
        authentication: name and account details.
        The information collected from Harvest and Google is used to present data to consumers and is stored
        only in the least intrusive way to optimize user experience.
    </p>
    <p>
        The only data stored from Harvest and Google beyond simple user information is saved whenever an event
        is pushed to Harvest and is as follows:
        <ul>
            <li>Calendar event name</li>
            <li>Harvest Task ID and Project ID - in isolation these are just numbers and maintain no non-computer value</li>
        </ul>
    </p>
    <h2>Personal information</h2>
    <p>
        We use the personal information you provide voluntarily to send information you’ve requested.
        We release personal information when we believe that release is appropriate to comply with the law,
        or to protect the rights, property, or safety of ISL, our users, or others.
        This may include exchanging information with other companies and organizations for fraud protection and
        credit risk reduction.
    </p>
    <h2>Tracking</h2>
    <p>
        No tracking cookies or functions are used on Harvest Reaper.
    </p>
    <h2>Services</h2>
    <p>
        This site contains links to other sites. ISL is NOT responsible for the privacy
        practices or the content of other Web Sites.
    </p>
    <h2>Security</h2>
    <p>
        This site has security measures in place to protect the loss, misuse and alteration
        of the information under our control. All the data regarding users, their computers’
        system information and benchmark results are stored on a server. This server is located
        in a locked and guarded space and only authorized personnel have access to the database
        containing given user names and passwords.
    </p>
    <h2>Notification of Changes</h2>
    <p>
        If we change our Privacy Policy, we will post those changes on reaper.isl.co.
        Users will be able to opt out of any new use of their personal information.
    </p>
    <h2>Choice/Opt-Out</h2>
    <p>
        Please email us at info@isl.co and we will happily remove any data we have gathered on your
        Harvest Reaper usage.
    </p>
    <h2>Reviewing personal data</h2>
    <p>
        You can review and validate the information, that we have collected about you by
        sending email to info@isl.co and requesting a review on your personal data.
    </p>
    <h2>Contacting the Web Site</h2>
    <p>
        If you have any questions or comments about this privacy statement, the practices of
        this site, or your dealings with this Web Site, you can contact info@isl.co or use the contact form
        at isl.co/contact.
    </p>
{% endblock %}
