:root {
    --isl-color: #43d8f8;
}

/* TABLE */
tr {
    height: 32px;
}

tr:nth-child(even) {
    background: #e7e7e7;
}

tr:nth-child(odd) {
    background: #fff;
}

.table-header__date {
    background: var(--isl-color);
}

/* BUTTONS */
.button--submit {
    background: var(--isl-color);
    border: none;
    height: 2rem;
    cursor: pointer;
    width: 8rem;
}
