@import "landing.css";
@import "utils/buttons.css";

/* BASE */
:root {
    --isl-color: #43d8f8;
    --black: #000;
    --white: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik Mono One", sans-serif;
}

div,
span,
p,
a,
button,
input,
li,
table * {
    font-family: "Rubik", sans-serif;
}

.body--no-scroll {
    height: 100vh;
    overflow: hidden;
}

/* TABLE */
tr {
    height: 32px;
}

tr:nth-child(even) {
    background: #e7e7e7;
}

tr:nth-child(odd) {
    background: #fff;
}

.table-header__date {
    background: var(--isl-color);
}
