@import "utils/buttons.css";
@import "landing.css";
@import "home.css";
@import "utils/menu.css";

/* BASE */
:root {
    --isl-color: #43d8f8;
    --black: #000;
    --white: #fff;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik Mono One", sans-serif;
}

div,
span,
p,
a,
button,
input,
li,
table * {
    font-family: "Rubik", sans-serif;
}

.body--no-scroll {
    height: 100vh;
    overflow: hidden;
}
