.home__name {
    font-size: 4rem;
    margin: 0;
}

.home__date {
    font-size: 2rem;
    margin: 0.5rem;
}

.home__date-link {
    text-decoration: none;
    color: inherit;
    padding: 0 1rem;
}

/* TABLE */
.home__project-column {
    width: 20rem;
}
.home__task-column {
    width: 10rem;
}
.home__duration-column {
    width: 4rem;
}
.home__notes-column {
    width: 20rem;
}

.home__day-row {
    background: var(--black);
    color: var(--white);
    font-family: "Rubik Mono One", sans-serif;
}

.home__table {
    margin: 24px auto 60px;
}

.home__mtg-summary {
    text-align: left;
    padding: 1rem !important;
    font-size: 22px;
}

.home__mtg-time {
    font-size: 16px;
    opacity: 0.7;
}

.home__table--min-width {
    min-width: 50vw;
}

.home__table td {
    padding: 0.5rem;
}

.home__table tr {
    height: 32px;
}

.home__table tr:nth-child(even) {
    background: var(--grey);
}

.home__table tr:nth-child(odd) {
    background: var(--white);
}

.home__table--no-data {
    padding: 1.5rem 0 !important;
    background: var(--grey);
}

.home__table select,
.home__table input {
    width: 100%;
    font-size: 14px;
    background: none;
    border: none;
}

.home__submit-button--padding {
    padding: 1rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    position: fixed;
}

.home__submit-button {
    font-size: 1.5rem;
    margin: 0;
}

.home__footer {
    position: absolute;
    height: 5rem;
    width: 100%;
    left: 0;
    margin-top: 1rem;
}

.home__error {
    max-width: 50%;
    margin: 0 auto;
}
