/* TABLE */
.home__project-column {
    width: 15rem;
}
.home__task-column {
    width: 10rem;
}
.home__duration-column {
    width: 4rem;
}
.home__notes-column {
    width: 20rem;
}

.home__day-row {
    background: var(--black);
    color: var(--white);
    font-family: "Rubik Mono One", sans-serif;
}

.home__table td {
    padding: 0.5rem;
}

.home__table tr {
    height: 32px;
}

.home__table tr:nth-child(even) {
    background: #e7e7e7;
}

.home_table tr:nth-child(odd) {
    background: #fff;
}

.home__table select,
.home__table input {
    width: 100%;
    font-size: 14px;
    background: none;
    border: none;
}

.home__submit-button--padding {
    padding: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    position: fixed;
}

.home__submit-button {
    font-size: 1.5rem;
    margin: 0;
}

.home__footer {
    position: absolute;
    height: 5rem;
    width: 100%;
    left: 0;
}
