.landing__container {
    display: flex;
}

/* Left Side */
.landing__content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.landing__logo {
    max-width: 25vw;
    margin-left: 2.5rem; /* Super hacky adjusment for desktop "centered" appearance */
}

/* Right Side */
.landing__graphic {
    max-height: 100vh;
}
