<tr>
    <td>{{event.summary}}</td>
    <td>{{event.day_of_week}}</td>
    <td>{{event.start}}</td>
    <td>{{event.end}}</td>
    <td>
        <select data-index="{{index}}" data-test="project-input" placeholder="Do not include">
            <option value="ignore" selected="selected">Do not include</option>
            {% for project in projects %}
                <option value="{{project.project_id}}">{{project.project_name}}</option>
            {% endfor %}
        </select>
    </td>
    <td>
        <select data-index="{{index}}" data-test="assignment-input" disabled placeholder="Do not include">
            <option value="ignore" selected="selected">Do not include</option>
        </select>
    </td>
    <td><input value="{{event.duration}}"></input></td>
</tr>
